{{/*
# SPDX-FileCopyrightText: 2021 Paul Brown
# SPDX-FileCopyrightText: 2021 Carl Schwan
# SPDX-LicenseIdentifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
  {{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
  <script>
window.onload = function() {
  const duration = 5 * 1000;
  const animationEnd = Date.now() + duration;
  const defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

  function randomInRange(min, max) {
    return Math.random() * (max - min) + min;
  }

  if (window.scrollY > 300) {
    return;
  }
  const interval = setInterval(function() {
    const timeLeft = animationEnd - Date.now();
    if (timeLeft < 0) {
      clearInterval(interval);
    }

    const particleCount = 50 * (timeLeft / duration);
    // since particles fall down, start a bit higher than random
        draft: true
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
    confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
  }, 250);
}
  </script>
{{ end }}

{{ define "main" }}
<section id="kHeader" class="carousel">
    <!--
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">-->
            <div class="slide-background"></div>
            <!--
            <div class="carousel-text-overlay">
                <h1>{{ .Title }}</h1>
                <p>{{ .Description }}</p>
            </div>
            -->
        <!--
        </div>
    </div>
    --> 
</section>

<main aria-label="Content" style="margin-right: none;" id="content">
  <section id="home-available" class="pb-5 pt-5 mt-0">
    <div class="container">
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
      <p style="max-width:none;">{{ i18n "home.description" | markdownify }}</p>
      <figure class="text-center embed-responsive embed-responsive-16by9">
        <video controls="true">
          <source src="https://cdn.kde.org/promo/Events/25years/KDE25years.webm" type="video/webm">
          <source src="https://cdn.kde.org/promo/Events/25years/KDE25years.mp4" type="video/mp4">
        </video>
      </figure>
    </div>

    <!-- ACTIVITIES BEGIN -->

    <div id="activities" class="container">
      <h2>{{ i18n "home.activities" }}</h2>
      <p>{{ i18n "home.activities.description" | markdownify }}</p>
      <!-- FIRESIDES -->
      <h3>{{ i18n "home.activities.fireside" }}</h3>
  
    <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.1" }}</h2>
                <p>{{ i18n "home.activities.fireside.1.description" | markdownify }}</p>
                <p><div class="see-more-button"><a href="https://conf.kde.org/e/KDE25th" class="breeze-button">{{ i18n "home.activities.fireside.registration" }}</a></div></p>
            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/board_300.png" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/board_300.png" height="200" alt="{{ i18n "home.activities.fireside.1.alt" }}">
            </picture>
    </div>

    <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.2" }}</h2>
                <p>{{ i18n "home.activities.fireside.2.description" | markdownify }}</p>
                <p><div class="see-more-button"><a href="https://conf.kde.org/e/KDE25th" class="breeze-button">{{ i18n "home.activities.fireside.registration" }}</a></div></p>
            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/jeri_300.jpg" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/jeri_300.jpg" height="200" alt="{{ i18n "home.activities.fireside.2.alt" }}">
            </picture>
    </div>

    <div class="feature mt-4">
        <div>
            <h4>{{ i18n "home.activities.fireside.3" }}</h2>
            <p>{{ i18n "home.activities.fireside.3.description" | markdownify }}</p>
            <p><div class="see-more-button"><a href="https://conf.kde.org/e/KDE25th" class="breeze-button">{{ i18n "home.activities.fireside.registration" }}</a></div></p>
        </div>
        <picture class="img-fluid">
            <source srcset="/assets/img/speakers/massimo_300.jpg" media="(prefers-color-scheme: dark)">
            <img src="/assets/img/speakers/massimo_300.jpg" height="200" alt="{{ i18n "home.activities.fireside.3.alt" }}">
        </picture>
    </div>

      <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.4" }}</h2>
                <p>{{ i18n "home.activities.fireside.4.description" | markdownify }}</p>
                <p>
                <div class="see-more-button"><a href="https://conf.kde.org/e/KDE25th" class="breeze-button">{{ i18n "home.activities.fireside.registration" }}</a></div>
                </p>
            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/matthias_300.jpg" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/matthias_300.jpg" height="200" alt="{{ i18n "home.activities.fireside.4.alt" }}">
            </picture>
      </div>

      <!-- MEETUPS -->
      <h3>{{ i18n "home.activities.meetups" }}</h3>
      <p>{{ i18n "home.activities.meetups.description" | markdownify }}</p>
      <p>
      <picture class="img-fluid">
          <source srcset="/assets/img/meetup.jpg" media="(prefers-color-scheme: dark)">
          <img src="/assets/img/meetup.jpg" width="100%" alt="Meetup">
      </picture>
      </p>
      <div class="see-more-button"><a href="https://community.kde.org/25th_birthday" class="breeze-button">{{ i18n "home.activities.meetups.more" }} </a></div>

      <!-- AMA -->
      <h3>{{ i18n "home.activities.AMA" }}</h3>
      <p>{{ i18n "home.activities.AMA.description" | markdownify }}</p>
      <img class="mx-auto d-block img-fluid" src="/assets/img/snoo_goup_600.png" alt="AMA on Reddit">
      <p>
        <div class="see-more-button"><a href="https://reddit.com/r/kde" class="breeze-button">{{ i18n "home.activities.AMA.button" }}</a></div>
      </p>

      <!-- ACTIVITIES END -->
    </div>
  </section>
  
  <!--

  {{ $index_part := 0 }}
  {{ range .Params.parts }}
  <section class="py-5 section-{{ .color }}">
    <div class="container">
      <div class="text-center mb-4 mx-auto" style="max-width: 800px">
        <h2>{{ .title }}</h2>
        {{ if gt (len .text) 100 }}
        <p class="h5">{{ .text }}</p>
        {{ else }}
        <p class="h4">{{ .text }}</p>
        {{ end }}
      </div>
      <ul class="nav justify-content-center nav-features" role="tablist">
        {{ $part_title := .title }}
        {{ $first := true }}
        {{ $index_slides := 0 }}
        {{ range .slides }}
          <li class="nav-item">
            <a
              class="nav-link {{ if $first }}{{ $first = false }}active{{ end }}"
              role="tab"
              href="#a{{ $index_part }}-{{ $index_slides }}"
              data-toggle="tab"
              aria-selected="true"
              aria-controls="a{{ $index_part }}-{{ $index_slides }}"
              id="a{{ $index_part }}-{{ $index_slides }}-control"
              >{{ .title }}</a
            >
          </li>
          {{ $index_slides = add $index_slides 1 }}
        {{ end }}
      </ul>
    </div>
    <div class="tab-content tab-content-feature pl-4 pr-4">
      {{ $first := true }} 
      {{ $index_slides = 0 }}
      {{ range .slides }}
      <div
        class="tab-pane {{ if and .mobile .mobile.video }}two-videos{{ end }}{{ if .video }} video {{ end }} {{ if $first }}{{ $first = false }}active {{ end }}"
        id="a{{ $index_part }}-{{ $index_slides }}"
        role="tabpanel"
        aria-labelledby="a{{ $index_part }}-{{ $index_slides }}-control"
      >
        {{ if .laptop }}
          <div class="laptop-with-overlay {{ with .class }}{{ . }}{{ end }}">
           <img
             class="laptop img-fluid"
             src="/reusable-assets/laptop.svg"
             alt="empty laptop with an overlay"
           />
           <div class="laptop-overlay">
             {{ if .video }}
               <video src="{{ .video }}" class="img-fluid">
             {{ else }}
               <img
                 class="img-fluid"
                 src="{{ .src }}"
                 alt="{{ .alt }}"
                 loading="lazy"
               />
             {{ end }}
           </div>
          </div>
        {{ else }}
          <div class="plasma-and-android row align-items-center">
            <div class="col-4 col-md-3">
              <div class="phone-with-overlay">
                <img
                  class="phone img-fluid"
                  src="/content/plasma-desktop/phone.png"
                  alt=""
                />
                <div class="phone-overlay">
                  {{ if .mobile.video }}
                    <video src="{{ .mobile.video }}" class="img-fluid">
                  {{ else }}
                    <img
                      class="img-fluid"
                      src="{{ .mobile.src }}"
                      alt="{{ .mobile.alt }}"
                      loading="lazy"
                    />
                  {{ end }}
                </div>
              </div>
            </div>
            <div class="col-8 col-md-9">
              <div class="laptop-with-overlay">
                <img
                  class="laptop img-fluid"
                  src="/reusable-assets/laptop.svg"
                  alt=""
                />
                <div class="laptop-overlay">
                  {{ if .desktop.video }}
                    <video src="{{ .desktop.video }}" class="img-fluid">
                  {{ else }}
                    <img
                      class="img-fluid"
                      src="{{ .desktop.src }}"
                      alt="{{ .desktop.alt }}"
                      loading="lazy"
                    />
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        {{ end }}
        <div class="container">
          {{ if or .video (and .mobile .mobile.video) }}
            <div class="text-center">
              <button class="button d-none">{{ i18n "replay" }}</button><br />
            </div>
          {{ end }}
  
          {{ .text | markdownify }}
        </div>
        {{ if .download  }}
          <h3>{{ .download }}</h3>
          <div>
            <a href="https://f-droid.org/en/packages/org.kde.kdeconnect_tp/"
              ><img
                src="/content/plasma-desktop/Get_it_on_F-Droid.svg"
                alt="{{ .fdroid }}"
                class="download-button-img"
            /></a>
            <a
              href="https://play.google.com/store/apps/details?id=org.kde.kdeconnect_tp"
              ><img
                alt="{{ .play }}"
                src="/content/plasma-desktop/get-it-from-google-play.png"
                class="download-button-img playstore"
            /></a>
          </div>
        {{ end }}
      </div>
      {{ $index_slides = add $index_slides 1 }}
      {{ end }}
    </div>
  </section>
  {{ $index_part = add $index_part 1 }}
  {{ end }}
-->

<!--
  <section id="plasma">
    <div class="breeze-window">
      <div class="kwin-shadow">
        <div class="headerbar">
          {{ i18n "home.Plasma" }}
          <img
            alt=""
            src="/window-minimize.svg"
            class="window-minimize"
          />
          <img
            alt=""
            src="/window-maximize.svg"
            class="window-maximize"
          />
          <img
            alt=""
            src="/window-close.svg"
            class="window-close"
          />
        </div>
        <div class="view">
          <p>{{ i18n "home.Plasma.description" | markdownify }}</p>
          <div class="see-more-button"><a href="https://kde.org/announcements/plasma/5/5.23.0" class="breeze-button">{{ i18n "home.plasma.see-announcement"}} </a></div>
        </div>
      </div>
    </div>
  </section>
  
  -->

  <!-- HISTORY -->
  <section id="history" class="background-blue">
    <div class="container">
      <div>
        <h2>{{ i18n "home.history" }}</h2>
        <p>{{ i18n "home.history.description" | markdownify }}</p>
      </div>
      <div>
        <h3>{{ i18n "home.history.VMs" }}</h3>
        <p>{{ i18n "home.history.VMs.description" | markdownify }}</p>
      </div>

      <div>
        <h4>{{ i18n "home.history.VMs.instructions" }}</h4>
        <p>{{ i18n "home.history.VMs.instructions.description" | markdownify }}</p>
      </div>

      <div class="row">
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/monitor-kde1_coming.png" alt="" width="200"/>
          <p>{{ i18n "home.history.VMs.kde1" }}</p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/monitor-kde2_coming.png" alt="" width="200"/>
          <p>{{ i18n "home.history.VMs.kde2" }}</p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <a href="https://cdn.kde.org/promo/Events/25years/kde3conectiva.ova"><img src="/assets/img/monitor-kde3.png" alt="" width="200"/></a>
          <p><a href="https://cdn.kde.org/promo/Events/25years/kde3conectiva.ova">{{ i18n "home.history.VMs.kde3" }}</a></p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <a href="https://cdn.kde.org/promo/Events/25years/plasma4kubuntu.ova"><img src="/assets/img/monitor-kde4.png" alt="" width="200"/></a>
          <p><a href="https://cdn.kde.org/promo/Events/25years/plasma4kubuntu.ova">{{ i18n "home.history.VMs.kde4" }}</a></p>
        </div>
      </div>

      <div>
        <h4>{{ i18n "home.history.VMs.credentials" }}</h4>
        <p>{{ i18n "home.history.VMs.credentials.description" | markdownify }}</p>
      </div>
      
    </div>
    
    <div class="container timeline">
        <h3>{{ i18n "home.history.timeline" }}</h3>
        <p>{{ i18n "home.history.timeline.description" | markdownify }}</p>
        <p>
        <picture class="img-fluid">
            <source srcset="/assets/img/timeline_1500.png" media="(prefers-color-scheme: dark)">
            <img style="display: block; margin-left: auto; margin-right: auto" src="/assets/img/timeline_1500.png" width="100%" alt="AMA on Reddit">
        </picture>
        </p>
        <p>
        <div class="see-more-button"><a href="https://timeline.kde.org/" class="breeze-button">{{ i18n "home.history.timeline.link" }} </a></div>
        </p>       
    </div>

    <div class="container">
        <h3>{{ i18n "home.history.gallery" }}</h3>
        <p>{{ i18n "home.history.gallery.description" | markdownify }}</p>
        
        <p style="text-align: center; font-size: large; font-weight: bold; color: red">COMING SOON...</p>

        <!--
        <h4>1990s</h4>
        <h4>2000s</h4>
        <h4>2010s</h4>
            <div class="row">
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/gallery/2015plasma-sprint.png" alt="" width="200"/>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/2015lakademy.jpg" alt="" width="200"/>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/2016qtcon.jpg" alt="" width="200"/>
                </div>

            </div>
        <h4>2020s</h4>
        -->
        
        <p>{{ i18n "home.history.gallery.CTA" | markdownify }}</p>       
    </div>

    <div class="container">
        <h3>{{ i18n "home.history.inthewild" }}</h3>
        <p>{{ i18n "home.history.inthewild.description" | markdownify }}</p>
        <p style="text-align: center; font-size: large; font-weight: bold; color: red">COMING SOON...</p>
        <p>{{ i18n "home.history.inthewild.CTA" | markdownify }}</p>       
    </div>
    
  </section>
  
  
  <section id="support" class="background-blue">
    <div class="container">
        <h2>{{ i18n "home.support" }}</h2>
        <p>{{ i18n "home.support.description" | markdownify }}</p>      
        <!--
        <p>
        <picture class="img-fluid">
            <source srcset="/assets/img/donate.jpg" media="(prefers-color-scheme: dark)">
            <img src="/assets/img/donate.jpg" width="100%" alt="Meetup">
        </picture>
        </p>
        -->
    </div>

    
    <div class="container">
        <h3>{{ i18n "home.support.25425" }}</h3>
        <p style="text-align: center; font-size: large; font-weight: bold; color: red">COMING SOON...</p>
        <!--
        <p>{{ i18n "home.support.25425.description" | markdownify }}</p>      
        <p><div class="see-more-button"><a href="http://25for25.kde.org/" class="breeze-button">{{ i18n "home.support.25425.button"}} </a></div></p>
        -->
    </div>

    <div class="container">
        <h3>{{ i18n "home.support.donations" }}</h3>        
        <p>{{ i18n "home.support.donations.description" | markdownify }}</p>
        <p><div class="see-more-button"><a href="https://kde.org/community/donations" class="breeze-button">{{ i18n "home.support.donations.button"}} </a></div></p>
    </div>
    
    <div class="contribute position-relative" style="background: url(&quot;img/kontributos.png&quot;);height: 600px;">
        <div class="position-absolute p-3" style="left: 0; bottom: 20px; backdrop-filter: blur(15px);background: rgba(255,255,255,0.8);">
            <h2>{{ i18n "home.support.contribute.kontributor" | markdownify }}</h2>
            <p style="max-width: 800px" class="h5">{{ i18n "home.support.contribute.description" | markdownify }}</p>
            <div><a class="btn btn-primary my-3 learn-more" href="https://community.kde.org/Get_Involved">{{ i18n "home.support.contribute.learn" }}</a></div>
        </div>
    </div>

    <div class="container">
        <h3>{{ i18n "home.support.companies" }}</h3>
        <p>{{ i18n "home.support.companies.description" | markdownify }}</p>      
        <p><div class="see-more-button"><a href="mailto:press@kde.org" class="breeze-button">{{ i18n "home.support.companies.button"}} </a></div></p>
        <p>{{ i18n "home.support.companies.patron" | markdownify }}</p>      
    </div>
  
  </section>


  <section id="merch" class="background-blue">
    <div class="container">
        <h2>{{ i18n "home.merch" }}</h2>
        <p>{{ i18n "home.merch.description" | markdownify }}</p>

        <a href="https://www.freewear.org/KDE" class="row">
            <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                <img src="/assets/img/merch/fitted_t-shirt .png" alt="" width="200"/>
                <p>{{ i18n "home.merch.tfitted" }}</p>
            </div>
            <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                <img src="/assets/img/merch/non-fitted_t-shirt.png" alt="" width="200"/>
                <p>{{ i18n "home.merch.tnfitted" }}</p>
            </div>
            <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
                <img src="/assets/img/merch/sticker_sim.png" alt="" width="200"/>
                <p>{{ i18n "home.merch.stickers" }}</p>
            </div>
        </a>

        <p><div class="see-more-button"><a href="https://www.freewear.org/KDE" class="breeze-button">{{ i18n "home.merch.button"}} </a></div></p>
    </div>
    
  
  </section>  
  
</main>
{{ end }}
